#nav-text {
	margin-left: 20px;
	color: white;
}

#header-div {
	background-image: url(../images/bg.jpeg);
	background-size: cover;
	padding: 250px;
}

#header-div p {
	margin-top: 50px;
	color: white;
	font-size: 24pt;
}

#header-text {
	text-align: center;
	font-size: 64pt;
}

#inner-div {
	padding: 450px;
}

#inner-div p {
	margin-top: 30px;
}

#inner-div img {
	display: block;
	margin: 0 auto;
}